*{
    padding: 0;
    border: 0;
}
#head {
    text-align: center;
    position: relative;
}
img {
    position: absolute;
    height: 100px;
    left: 100px;
}
 
#head h1 {
    color: rgb(35, 228, 228);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#head p {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 3px;
    font-size: 30px;
    font-size: 18px;
}
table{
    border-collapse: collapse;
}
